body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-accent {
  color: #4d5ae5;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.nav-link {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-address {
  margin-left: auto;
}

.contact-link {
  display: block;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.page-nav ul {
  display: flex;
  gap: 40px;
}

.contacts {
  display: flex;
  gap: 40px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-icon {
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.icon {
  fill: #2e2f42;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.text {
  line-height: 1.5;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.person-card {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.person-info {
  padding: 32px 16px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  fill: #f4f4fd;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.footer-social-title {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.social-link,
.footer-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background-color: #4d5ae5;
  color: #f4f4fd;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.footer-form {
  margin-left: auto;
}

.footer-subscribe-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}

.footer-form-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: #ffffff;
  background-color: transparent;

  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: #31d0aa;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  min-width: 165px;
  height: 40px;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #31d0aa;
}

.footer-btn-icon {
  fill: #ffffff;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 24px;
  max-width: 408px;
  max-height: 584px;
  overflow-y: auto;
  position: relative;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #2e2f42;
  cursor: pointer;
  transition:
    background-color 250ms,
    color 250ms,
    border 250ms;
}

.modal-close-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  color: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 24px;
  text-align: center;
}

.modal-submit-btn {
  display: block;
  margin: 24px auto 0;

  min-width: 169px;
  height: 56px;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}

.modal-form {
  margin-top: 16px;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;

  padding-left: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;

  font-size: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-input-icon {
  fill: #4d5ae5;
}

.form-field {
  margin-bottom: 8px;
}

.form-field {
  margin-bottom: 8px;
}

.form-field:last-of-type {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;

  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  resize: none;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-custom {
  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom svg {
  opacity: 0;
  width: 10px;
  height: 8px;
  fill: #ffffff;
}

.privacy-link {
  color: #4d5ae5;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
}
.checkbox-input:checked + .checkbox-custom {
  background-color: #404bbf;
  border-color: #404bbf;
}

.checkbox-input:checked + .checkbox-custom svg {
  opacity: 1;
}
